*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

.active{
    background-color: rgba(255, 255, 0, 0.558);
    color: #ffffff;
    width: 20%;
}


.cabecalho{
    display: flex;
    background-image: linear-gradient(to right, gray, black);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-wrap: nowrap;
}

.menu>a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
}

.menu> a:hover{
    background-color: black;
}

header > h1{
    text-align: center;
    color: black;
}


main{
    margin: 10px;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

article > h1{
    color: black;
    font-size: 2em;
    font-weight: normal;
    text-indent: 8px;
}

article > p{
    margin: auto;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1em;
}

section > div.fiapLogo-img{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 12.5rem;
}

.fiapLogo-img {
    margin: 50px;
    border: 10px;
    display: block;
    max-width: 100%;
}